.loginbox {
    width: 400px;
    height: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50% );
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox h1 {
    font-family: serif;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding: 0 6px;
}

.loginbox input[type="text"] {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 50px;
    color: #fff;
    font-size: 17px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    background: green;
    width: 150px;
    font-size: 20px;
    font-family: cursive;
}

.loginbox input[type="submit"]:hover {
    background: orange;
}

.loginbox th,td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.loginbox table {
   border: 20px;
   padding: 20px;
   
}

.loginbox p {
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
 }

 .loginbox a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: yellow;
    padding:1px;
    border: none;
    outline: none;
    margin: unset;
    text-decoration: none;
}
