body {
background-image: url("image.jpg");
background-size: cover;
background

}

.hyperlink a{
  font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: yellow;
    padding:1px;
    border: none;
    outline: none;
    margin: unset;
    
}
.hyperlink{
  text-align: right;

}
.hyperlink a:hover{
  color:green;
    
}

