body {
  background-image: url("/assets/images/about.jpg");
  background-size: cover;
  font-family: Arial;
}

h1 {
  text-align: center;
  color: white;
}

.about p {
  text-align: justify;
  font-size: 15px;
  padding: 2px;
  padding: 20px;
  line-height: 40px;
  color:white;
}

.about h1 {
  text-align:center;
  color:white;
}

.decoration {
  text-align: center;
}

p {
  font-size: 30px;
  text-align: left;
  color: white;
}
